{% extends "auth/auth_base.html" %}
{% block auth_title %}Log In{% endblock %}
{% block error_flash %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-danger alert-dismissible show fade">
                {{ messages[0] }}. Go to <a href="{{ url_for('auth.signup') }}">Signup page</a>.
            </div>
        {% endif %}
    {% endwith %}
{% endblock %}
{% block content %}
<form method="POST" action="{{ url_for('auth.login') }}">
    <input type="hidden" name="next" value="{{ request.args.get('next', '') }}"/>
    <div class="form-group position-relative has-icon-left mb-4">
        <input type="email" name="email" class="form-control form-control-xl" placeholder="Email">
        <div class="form-control-icon">
            <i class="bi bi-person"></i>
        </div>
    </div>
    <div class="form-group position-relative has-icon-left mb-4">
        <input type="password" name="password" class="form-control form-control-xl" placeholder="Password">
        <div class="form-control-icon">
            <i class="bi bi-shield-lock"></i>
        </div>
    </div>
    <div class="form-check form-check-lg d-flex align-items-end">
        <input class="form-check-input me-2" type="checkbox" name="remember" id="flexCheckDefault">
        <label class="form-check-label text-gray-600" for="flexCheckDefault">
            Remember me.
        </label>
    </div>
    <button class="btn btn-primary btn-block btn-lg shadow-lg mt-5">Log in</button>
</form>
<div class="text-center mt-5 text-lg fs-4">
    <p class="text-gray-600">Don't have an account? <a href="{{ url_for('auth.signup') }}"
            class="font-bold">Sign
            up</a>.</p>
</div>
{% endblock %}